body{
  background: url('../images/image2.jpg');
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#container{
  background: #2E3233;
  width: 424px;
  color:#D3E3E6;
  padding:15px;
}
h1{
  font-family: 'Zen Dots', cursive;
  font-size: 70px;
  color:#D3E3E6;
}
h2{
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  background:#39AFC4;
  border-radius: 7px;
  color: #2E3233;
  padding: 5px;
}
#mag{
  color:#39AFC4;
  text-decoration: none;
}
h3{
  background:#2E3233;
  padding:5px;
  color:#D3E3E6;
  border-radius: 5px;
}
ul{
  background:#6C7475;
  color:#D3E3E6;
  border-radius: 9px;
  padding-top:7px;
  padding-bottom: 7px;
}
#bye{
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  padding: 2px;
  background: #2E3233;
  color: #39AFC4;
}
@import 'https://fonts.googleapis.com/css?family=Raleway';
* {
  outline: none;
  user-select: none;
}

.profile {
  width: 230px;
  height: 60px;
  margin-top: 40%;
  margin-left: 37%;
  margin-right: 10%;
  margin-bottom: 20%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: #e1e1e1;
  box-shadow: 0 0 1rem #babbbc;
  animation: show-profile 0.5s forwards ease-in-out;
}
@keyframes show-profile {
  0% {
    width: 0;
  }
}
.profile .photo, .profile .content {
  box-sizing: border-box;
}
.profile .photo {
  width: 60px;
  height: 60px;
  border-radius: 40%;
  overflow: hidden;
  border: 5px solid #e1e1e1;
  background-color: #e1e1e1;
  margin-left: -40px;
  box-shadow: 0 0 0.5rem #babbbc;
  animation: rotate-photo 0.5s forwards ease-in-out;
}
@keyframes rotate-photo {
  100% {
    transform: rotate(-360deg);
  }
}
.profile .photo img {
  width: 100%;
}
.profile .content {
  padding: 2px;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.profile .content::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 70px;
  background-color: #176370;
  left: 0;
  top: -10px;
  z-index: -1;
  transform: rotate(-8deg);
}
.profile .content .text {
  margin-top: 10px;
  margin-left: 20px;
}
.profile .content .text h3, .profile .content .text h6 {
  font-weight: normal;
  margin: 1px 0;
  letter-spacing: 0.5px;
  white-space: nowrap;
}
.profile .content .btn {
  background-color: #abc;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 12px;
  top: 10px;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  transition-duration: 0.3s;
  animation: pop-btn 0.3s both ease-in-out 0.5s;
}
@keyframes pop-btn {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.profile .content .btn:hover {
  box-shadow: 0 0 0 5px rgba(170, 187, 204, 0.5);
}
.profile .content .btn span {
  width: 60%;
  height: 2px;
  position: absolute;
  background-color: white;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
  animation: to-hamburger 0.3s forwards ease-in-out;
}
.profile .content .btn span::before, .profile .content .btn span::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: white;
  transition-duration: 0.3s;
  transform: rotate(0deg);
  right: 0;
}
.profile .content .btn span::before {
  margin-top: -7px;
}
.profile .content .btn span::after {
  margin-top: 7px;
}
.profile .content .btn.active span {
  animation: to-arrow 0.3s forwards ease-in-out;
}
.profile .content .btn.active span::before, .profile .content .btn.active span::after {
  width: 60%;
  right: -1px;
}
.profile .content .btn.active span::before {
  transform: rotate(45deg);
}
.profile .content .btn.active span::after {
  transform: rotate(-45deg);
}
@keyframes to-hamburger {
  from {
    transform: translateY(-50%) rotate(-180deg);
  }
}
@keyframes to-arrow {
  from {
    transform: translateY(-50%) rotate(0deg);
  }
  to {
    transform: translateY(-50%) rotate(180deg);
  }
}
.profile .box {
  width: 100px;
  height: 100px;
  opacity: 0;
  border-radius: 50%;
  background-color: rgba(200, 200, 200, 0.7);
  position: absolute;
  top: 50%;
  right: -30%;
  transform: translate(-50%, -50%);
  transition-duration: 0.3s;
}
.profile .box a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #e3e3e3;
  text-decoration: none;
  background-color: #6c7475;
  font-size: 26px;
  text-align: center;
  line-height: 50px;
  position: absolute;
  left: 10px;
  top: calc(30px - 15px/2);
  box-shadow: 0 0 0.5rem #babbbc;
  transition-duration: 0.3s;
}
.profile .box a:hover {
  transition-delay: initial !important;
  box-shadow: 0 0 0 5px #babbbc;
}
.profile .box.open {
  opacity: 1;
}
.profile .box.open a {
  left: 50px;
}
.profile .box.open a:nth-of-type(1) {
  transform: rotate(-90deg) translateX(120px) rotate(90deg);
  transition-delay: 0s;
}
.profile .box.open a:nth-of-type(2) {
  transform: rotate(-45deg) translateX(120px) rotate(45deg);
  transition-delay: 0.1s;
}
.profile .box.open a:nth-of-type(3) {
  transform: rotate(0deg) translateX(120px) rotate(0deg);
  transition-delay: 0.2s;
}
.profile .box.open a:nth-of-type(4) {
  transform: rotate(45deg) translateX(120px) rotate(-45deg);
  transition-delay: 0.3s;
}
.profile .box.open a:nth-of-type(5) {
  transform: rotate(90deg) translateX(120px) rotate(-90deg);
  transition-delay: 0.4s;
}
